.nholiday-class {
    color: #14C4B9;
    font-weight: bold; /* Cambia el color según tus necesidades */
  }
  
  .pholiday-class {
    color: #5628a1;
    font-weight: bold; /* Cambia el color según tus necesidades */
  }
  
  .pevent-class {
    color: #d67112;
    font-weight: bold; /* Cambia el color según tus necesidades */
  }