.nholiday-class {
    color: #13d5c8;
    font-weight: bold; /* Cambia el color según tus necesidades */
  }
  
  .pholiday-class {
    color: #5628a1;
    font-weight: bold; /* Cambia el color según tus necesidades */
  }
  
  .pevent-class {
    color: #50c100;
    font-weight: bold; /* Cambia el color según tus necesidades */
  }

